@use '../../../shared/styles/mixins' as *;
@use '../../../shared/styles/vars' as *;

.timer {
    display: flex;
    gap: 30px;
    
    .timeBlock {
        width: 102px;
        height: 112px;
        background: #121212;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .value {
            @include textStyle($size: 36px, $weight: 700)
        }

        .label {
            @include textStyle;
            opacity: 25%;
        }
    }
}