@use '../../../../../shared/styles/mixins' as *;
@use '../../../../../shared/styles/mixins' as *;

.teacher_section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 113px;

    .teacher_section_text {
        display: flex;
        align-items: center;
        gap: 45px;
        h2 {
            @include textStyle($size: 48px, $weight: 700);
        }
    }
    .teachers_cards {
        display: flex;
        gap: 24px;

        .teachers_card {
            display: flex;
            flex-direction: column;
            gap: 40px;

            width: 416px;
            height: 380px;

            align-items: center;
            justify-items: center;

            .teachers_card_text {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 15px;

                h4 {
                    @include textStyle($size: 24px, $weight: 500);
                }

                p {
                    @include textStyle;
                    opacity: 50%;
                }

                button {
                    background: transparent;

                    width: 144px;
                    height: 44px;

                    border: 1px solid #fff;
                    border-radius: 50px;
                    
                    @include textStyle($size: 16px, $weight: 400);

                }
            }
        }
    }
}