@use '../../../shared/styles/mixins' as *;
@use '../../../shared/styles/vars' as *;

.footer {
    width: 100vw;
    height: 459px;

    display: grid;
    justify-content: center;

    .footer_content {
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        .text_content {
            text-align: center;
            h2 {
                @include textStyle($size: 48px, $weight: 700)
            }

            p {
                display: inline-block;

                max-width: 411px;

                @include textStyle;
                opacity: 50%;
                margin-top: 30px;
            }
        }

        .socials_wrapper {
            max-width: 290px;
            height: 50px;
            display: flex;
            gap: 30px;
            .social_link {
                display: inline-flex;
                width: 50px;
                height: 50px;
                align-items: center;
                justify-content: center;

                border-radius: 100%;
                
                background: $gradient-pink-to-blue;
            }
        }
    }
}