.page_layout {
    width: 100%;
    height: 100vh;

    position: relative;

    display: flex;
    flex-direction: column;

    .header_wrapper {
        width: max-content;
        height: max-content;

        position: absolute;
        top: 38px;
        left: 0;
        right: 0;
        z-index: 10;
    }
    .main {
        
        flex-grow: 1;

        display: flex;
        flex-direction: column;
        gap: 200px;
    }
}