$defaultFont: "Roboto", sans-serif;

$gradient-pink-to-blue: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
$gradient-red-to-purple: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);

$white: #fff;
$light-black: #121212;


$breakpoints: (
    'small': 320px,
    // Телефоны
    'medium': 600px,
    // Крупные телефоны / мелкие планшеты
    'large': 768px,
    // Планшеты
    'xlarge': 1024px,
    // Ноутбуки
    'xxlarge': 1440px,
    // Мониторы
    'fullhd': 1920px, // Большие экраны
);