@use './vars' as *;

html,
body,
#root {
    position: relative;
    user-select: none;
    
}

#root {
    margin-bottom: 30px;
}

body {
    font-family: $defaultFont;
    background: url('/bgc.png') no-repeat;
    color: $white;
    overflow-x: hidden;
}

*,
:after,
:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: $white;
    transition: all 150ms ease-in-out;
    &:hover {
        color: rgb(122, 122, 245);
        text-decoration: underline;
    }
}

ul {
    list-style: none;
}

