@use '../../../../../shared/styles/mixins' as *;
@use '../../../../../shared/styles/vars' as *;

.about_training {
    h2 {
        @include textStyle($size:48px, $weight: 700);
        text-align: center;
    }
    .about_training_cards {
        display: flex;
        align-items: center;
        justify-content: center;
        
        margin-top: 120px;
        h4 {
            max-width: 330px;
            @include textStyle($size: 24px, $weight: 500)
        }
        p {
            max-width: 350px;
            @include textStyle;
            opacity: 50%;
            
        }

        .about_training_card {
            width: 358px;
            height: max-content;
            display: flex;
            align-items: center;
            gap: 45px;
            flex-direction: column;
            text-align: center;
        }
    }
}