@use '../../../../../shared/styles/mixins' as *;
@use '../../../../../shared/styles/vars' as *;

.hero_section {
    
    width: 100vw;
    height: 960px;

    background: url('/main-screen__bgc.png');
    display: grid;
    
    align-items: end;
    grid-template-rows: 1fr 130px;
    .hero_section_content {
        width: 85%;
        height: 100%;


        justify-self: end;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 50px;

        h1 {
            display: inline-block;
            max-width: 920px;
            @include textStyle($size: 68px, $weight:  700)
        }
    }
    .students_progress {
        width: 100vw;
        height: 130px;
        align-self: flex-end;
        background: #121212;

        display: grid;
        justify-content: center;
        
        .students_progress_content {
            height: 100%;
            height: 100%;

            display: flex;
            
            justify-content: space-between;
            align-items: center;

            gap: 111px;
            
            .request_cours {
                width: 169px;
                height: 44px;

                border: none;
                border-radius: 50px;
                background: $gradient-red-to-purple;

                @include textStyle($weight: 700);

                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }
            }

            .students_count {
                display: flex;
                flex-direction: column;
                gap: 10px;

                @include textStyle($color: #ffffff94);

                span > .total_students, span > .successfully_completed {
                    color: #fff
                }

            }

            .progress_bar_wrapper {
                width: max-content;
                height: max-content;

                display: flex;
                flex-direction: column;
                gap: 8px;

                .earned_by_students {
                    @include textStyle($color: #ffffff94);

                    & > span {
                        color: #fff;
                    }
                }

                .progress_bar {
                    width: 714px;
                    height: 6px;
                    background: #fff;

                    .progress_bar_fill {
                        width: 35%;
                        height: 100%;

                        background: $gradient-red-to-purple;
                    }

                }
                .progress_bar_values {
                    width: 100%;
                    height: 100%;

                    display: flex;
                    justify-content: space-between;

                    @include textStyle($color: #ffffff94)
                }
            }
        }
    }
}