@use '../../../../../shared/styles/mixins' as *;
@use '../../../../../shared/styles/vars' as *;

.training_program {
    display: flex;
    flex-direction: column;
    gap: 80px;

    width: 750px;
    height: 1000px;
    
    
    .training_program_text {
        display: flex;
        flex-direction: column;
        align-items: center;

        gap: 32px;

        h2 {
            @include textStyle($size: 48px, $weight: 700)
        }

        p {
            display: inline-block;
            max-width: 411px;
            text-align: center;

            opacity: 50%;
            line-height: 160%;
        }
    }

    .tree_of_training {
        width: 100%;
        height: 677px;
        

        display: grid;
        grid-template-columns: 364px 22px 364px;
        grid-template-rows: repeat(7,95px);

        

        .tree_of_training_card {
            width: 100%;
            height: 100%;

            display: flex;
            flex-direction: row-reverse;
            gap: 20px;

            align-items: center;

            text-align: end;

            .tree_of_training_card_line {
                width: 40px;
                border: 1px solid #fff;
                opacity: 30%;
            }
            .tree_of_training_card_text {
                display: flex;
                flex-direction: column;
                gap: 15px;
                .pretitle {
                    @include textStyle($size: 14px, $weight: 400);
                    opacity: 50%;
                }

                .desc {
                    display: inline-block;
                    max-width: 228px;

                    @include textStyle($size: 18px, $weight: 400)
                }
            }
            &:nth-child(1) {
                grid-column: 1;
                grid-row: 1;
            }
            &:nth-child(2) {
                grid-column: 3;
                grid-row: 2;

                flex-direction: row;
                text-align: start;
            }
            &:nth-child(3) {
                grid-column: 1;
                grid-row: 3;
            }
            &:nth-child(4) {
                grid-column: 3;
                grid-row: 4;
                flex-direction: row;
                text-align: start;
            }
            &:nth-child(5) {
                grid-column: 1;
                grid-row: 5;
            }
            &:nth-child(6) {
                grid-column: 3;
                grid-row: 6;
                flex-direction: row;
                text-align: start;
            }
            &:nth-child(7) {
                grid-column: 1;
                grid-row: 7;
            }
        }
        .vertical_line {
            grid-row: 1/8;
            grid-column: 2;
            width: 8px;
            height: 100%;

            justify-self: center;

            background: $gradient-pink-to-blue;
        }
    }
}