@use '../../../styles/mixins' as *;
@use '../../../styles/vars' as *;

.header {
    width: 100vw;
    height: max-content;

    display: grid;
    

    .header_content {
        width: 90%;
        justify-self: center;

        display: grid;
        grid-template-columns: repeat(3,1fr);
        align-items: center;
    }

    .login_btn_wrapper {
        justify-self: end;

        .login {
            width: 183px;
            height: 44px;

            background: $gradient-pink-to-blue;
            padding: 10px 30px 10px 30px;

            border-radius: 50px;

            &:hover {
                color: white;
            }
        }
    }
}